<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <div th:replace="fragments/bootstrap :: bootstrap"></div>

        <div class="container">

            <h1>Log In</h1>

            <div th:if="${param.logout}">
                <b class="text-primary">Вы вышли!</b>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Логин:</label>
                    <input name="username" type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Логин">
                </div>
                <div class="form-group">
                    <label for="password">Пароль: </label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Пароль">
                </div>

                <small th:if="${param.error}" id="emailHelp" class="form-text text-danger">Неверный логин или пароль.</small>
                <br>
                <button type="submit" class="btn btn-dark">Вход</button>
            </form>

            <br>
            <br>
            <a href="/registration">Регистрация</a>
            <br>
            <a href="/">Главная</a>
            <br>
        </div>

    </body>
</html>