<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
    </head>
    <body>
        <div th:replace="fragments/bootstrap :: bootstrap"></div>

        <div th:replace="fragments/navigationPanel" :: navigationPanel></div>

        <div class="container mt-5">

            <form th:method="post" th:action="@{/main}" th:object="${messageModel}">
                <label for="text"> </label>
                <input id="text" type="text" th:field="*{text}" placeholder="Введите сообщение">

                <label for="tag"> </label>
                <input id="tag" type="text" th:field="*{tag}" placeholder="Тэг">

                <button type="submit">Добавить</button>

                <div class="text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}">text error</div>
                <div class="text-danger" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">tag error</div>

                <div th:replace="fragments/messageEditText :: messageEditText"></div>
                <div th:if="${param.add}">
                    <b class="text-primary">Сообщение успешно добавлено</b>
                </div>
            </form>
            <hr/>

            <p><b>Поиск</b></p>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <form class="d-flex" method="get" action="/main">
                        <input class="form-control me-2" aria-label="Search" type="text" name="filter" th:value="${filterValue}" placeholder="Найти">
                        <button class="btn btn-outline-success" type="submit">Найти</button>
                    </form>
                </div>
                <div class="container-fluid">
                    <a class="link-success" href="/main">Сбросить поиск</a>
                </div>
            </nav>

            <hr/>

            <p th:if="${!filter}">Список сообщений: </p>
            <p th:if="${filter}">Результат поиска: </p>

            <div th:if="${messagesList.isEmpty()}">Сообщения не найдены</div>

            <div th:each="message : ${messagesList}">
                <p>ID: <b th:text="${message.id}"/> </p>
                <p th:text="${message.text}"/>
                <i th:text="${message.tag}"/>
                <p>author: <b th:text="${message.username}"/> <i th:text="${message.getFormatDateTime()}"/>  </p>

                <div sec:authorize ="hasAuthority('ADMIN')">
                    <a th:href="@{/admin/message/edit/{id}(id =${message.id})}">
                        <button class="btn btn-warning" type="submit">Редактировать</button>
                    </a>
                    <form method="post" th:action="@{/admin/message/delete/{id}(id =${message.id})}">
                        <button class="btn btn-danger" type="submit">Удалить</button>
                    </form>
                </div>
                <hr/>
            </div>
        </div>
    </body>
</html>