<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
    </head>
    <body>
        <div th:replace="fragments/bootstrap :: bootstrap"></div>

        <div class="container">
            <h1>Registration</h1>

            <div th:if="${message != null}">
               <div class="text-danger" th:text="${message}"/>
            </div>

            <form th:action="@{/registration}" th:method="post" th:object="${user}">
                <div><label> Логин : <input type="text" name="username" th:field="*{username}"/> </label></div>
                <div><label> Пароль: <input type="password" name="password" th:field="*{password}"/> </label></div>
                <br>
                <button type="submit" class="btn btn-success">Зарегестрироваться</button>

                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">text error</div>
                <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">tag error</div>
            </form>

            <br>
            <br>
            <a href="/login">Вход</a>
            <br>
            <a href="/">Главная</a>
            <br>
        </div>
    </body>
</html>